@charset "UTF-8";
#k_welcome {
  background-color: #F0F0F0;
}

#k_welcome .container {
  width: 1000px;
  height: 92px;
  padding-top: 50px;
}

#k_welcome .logo {
  width: 300px;
  height: 56px;
  background: url("../img/logo_login.gif") no-repeat;
  text-indent: 215px;
  font-size: 18px;
  color: #666;
  padding-top: 30px;
}

#k_welcome .right {
  width: 510px;
  height: 40px;
  line-height: 20px;
  margin-left: 462px;
  padding: 5px 10px;
  background-color: #fdf7e9;
  border: 1px solid #edae1b;
  color: #666;
}

#k_main {
  background-color: #f44f60;
}

#k_main .container {
  width: 1000px;
  height: 480px;
  background: url("../img/login.jpg");
  position: relative;
}

#k_main .login {
  width: 340px;
  height: 360px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 60px;
  right: 0;
}

#k_main .login .top {
  height: 24px;
  padding: 18px 0;
}

#k_main .login .top li {
  width: 170px;
  float: left;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  font-family: "微软雅黑";
  color: #666;
  cursor: pointer;
}

#k_main .login .top li:first-of-type {
  width: 168px;
  border-right: 2px solid #e6e6e6;
}

#k_main .login .top li:hover {
  color: #f60;
}

#k_main .login .cont {
  display: none;
  height: 239px;
  border-top: 1px solid #e6e6e6;
  padding: 34px 30px 0;
  position: relative;
}

#k_main .login .cont1 .qr_code {
  height: 185px;
  position: relative;
}

#k_main .login .cont1 .qr_code i {
  width: 108px;
  height: 108px;
  background: url("../css/img/sprite.fw.png") no-repeat -345px -36px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#k_main .login .cont1 .sao {
  width: 150px;
  margin: 0 auto;
  position: relative;
}

#k_main .login .cont1 .sao i {
  width: 40px;
  height: 40px;
  background: url("../css/img/allbgs.png") no-repeat -118px -15px;
  left: 0;
  top: -5px;
}

#k_main .login .cont1 .sao p {
  text-indent: 50px;
}

#k_main .login .cont1 .sao span {
  color: #f60;
  margin-left: 5px;
  cursor: pointer;
}

#k_main .login .cont1 .sao span:hover {
  color: #8784fb;
}

#k_main .login .cont2 input[type="text"], #k_main .login .cont2 input[type="password"] {
  width: 280px;
  height: 36px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  text-indent: 48px;
}

#k_main .login .cont2 input[type="checkbox"] + label {
  margin-right: 8px;
}

#k_main .login .cont2 button {
  width: 280px;
  height: 40px;
  background-color: #f60;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  word-spacing: 20px;
}

#k_main .login .cont2 button:hover {
  background-color: #f80;
  cursor: pointer;
}

#k_main .login .cont2 a {
  float: right;
  color: #f60;
}

#k_main .login .cont2 i {
  width: 40px;
  height: 36px;
  background: url("../img/allbgs.png") no-repeat -62px 4px;
  left: 30px;
  top: 34px;
}

#k_main .login .cont2 i.i2 {
  background-position: -62px -31px;
  top: 82px;
}

#k_main .login .cont2 i::after {
  content: "";
  width: 1px;
  height: 16px;
  background-color: #ccc;
  position: absolute;
  left: 38px;
  top: 11px;
}

#k_main .login .bottom {
  height: 60px;
  padding: 0 20px;
  background-color: #ebebf1;
  position: relative;
}

#k_main .login .bottom .wechat, #k_main .login .bottom .qq, #k_main .login .bottom .sina, #k_main .login .bottom .zhifubao {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ebebf1 url("../img/allbgs.png") no-repeat -120px -74px;
  position: absolute;
  left: 20px;
  top: 14px;
}

#k_main .login .bottom a:hover {
  opacity: 0.6;
}

#k_main .login .bottom .qq {
  left: 60px;
  background-position: 0 -74px;
}

#k_main .login .bottom .sina {
  left: 100px;
  background-position: -40px -74px;
}

#k_main .login .bottom .zhifubao {
  left: 140px;
  background-position: -80px -74px;
}

#k_main .login .bottom a.reg {
  float: right;
  display: block;
  width: 100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #f60;
  position: relative;
}

#k_main .login .bottom a.reg .i5 {
  width: 16px;
  height: 16px;
  left: 80px;
  top: 21px;
  background: url("../css/img/tubiao.png") no-repeat -412px -940px;
}

#k_footer .container {
  height: 182px;
}
